<!DOCTYPE html>
<html lang="en">
<head>
  <title>Search Results</title>
  <style>
    .movie {
      width: 200px;
      display: inline-block;
      vertical-align: top;
      border: 2px solid black;
      margin-bottom: 5px;
      padding-left: 5px;
    }
    h2 {
      display: inline;
    }
  </style>
</head>
<body>
    <a href="/">Return to Search</a>

    {{#with query}}
      {{#if title}}<span>Title: {{title}}</span>{{/if}}
      {{#if year}}<span>Year: {{query.year}}</span>{{/if}}
    {{/with}}

    {{#if movies}}
      {{#each movies}}
        <div class="movie">
          <p>Title: {{this.title}}</p>
          <p>Year: {{this.year}}</p>
          {{#if this.cast}}
            <p>Cast: </p>
            <ul>
              <li>
              {{#each this.cast}}
              <li>
                {{#if this.isStarring}}
                  <strong>{{this.name}}</strong>
                {{else}}
                  {{this.name}}
                {{/if}}
              </li>
              {{/each}}
            </ul>
          {{/if}}
        </div>
      {{/each}}

      
    {{else}}
      <p>No Results</p>

    {{/if}}
    
</body>
</html>
